<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NotFlix</title>
    <link rel="shortcut icon" type="img/png" href="img/favicon.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" type="text/css" media="all" />
    <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
    <header class="showcase">
        <div class="showcase-top">
            <img src="img/NopeflixRed.png" alt="NotFlix" />
            <a href="/home-page" class="lp-btn btn-rounded"> Start Watching </a>
        </div>
        <div class="showcase-content">
            <h1>
                Unlimited movies, TV <br /> shows, and more.
            </h1>
            <p>Watch anywhere. Cancel anytime.</p>
        </div>
    </header>
</body>

</html>